@import 'tailwindcss';
@import './base/fonts.css';
@import './base/typography.css';

@theme {
  --color-bertumbuh-green: #2a9d8f;
  --color-bertumbuh-light-green: #dff0ee;
  --color-bertumbuh-black: #4c4c4c;
}

html,
body {
  scroll-behavior: smooth;
  font-family: 'Poppins';
}
